@font-face {
  font-family: 'El Camino';
  src: url('/fonts/ElCaminoRegular.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100dvw;
  min-height: 100dvh;
}

.video-container {
  position: fixed;
  inset: 0;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.swiper-slide img {
  margin: 0 auto;
}

.swiper-button-disabled {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .video-container {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .video-container {
    width: 100vw;
    height: 100vh;
  }
}
